image: gcc

before_script:
  - apt-get update --yes
  - apt-get install --yes cmake
  - apt-get install --yes libgtest-dev
  - apt-get install --yes lcov

variables:
  PROG: main.out
  UNIT: unit.out

stages:
  - test_style
  - build
  - unit_test
  - test_mem
  - coverage

test_style:
  stage: test_style
  script:
    - apt-get install --yes cppcheck
    - ./cppcheck.sh

build:
  stage: build
  script:
    - git submodule init
    - git submodule update
    - mkdir build
    - cd build
    - cmake ..
    - make
  artifacts:
    paths:
      - "build"
      - "cmake-modules"
  needs: ["test_style"]

unit_test:
  stage: unit_test
  script:
    - cd build
    - ./${UNIT}
  needs: ["build"]


test_mem:
  stage: test_mem
  script:
    - apt-get update && apt-get install -y valgrind
    - valgrind ./build/${UNIT}
  needs: ["unit_test", "build"]

coverage:
  stage: coverage
  script:
    - cd build
    - cmake -DCMAKE_BUILD_TYPE=Debug ..
    - make codeCoverage
  needs: ["unit_test", "test_mem"]