image: gcc

before_script:
  - apt-get update --yes
  - apt-get install --yes cmake
  - apt-get install --yes libgtest-dev
  - apt-get install --yes lcov
  - lcov --version

variables:
  PROG: main.out
  UNIT: unit.out

stages:
  - test_style
  - build
  - test

test_style:
  stage: test_style
  script:
    - apt-get install --yes cppcheck
    - ./cppcheck.sh

build:
  stage: build
  script:
    - git submodule init
    - git submodule update
    - mkdir build
    - cd build
    - cmake ..
    - make
  artifacts:
    paths:
      - "./build"
      - "./cmake-modules"

unit_test:
  stage: test
  script:
    - cd build
    - ./${UNIT}
  needs: ["build"]


test_mem:
  stage: test
  script:
    - apt-get update && apt-get install -y valgrind
    - valgrind ./build/${UNIT}
  needs: ["build"]

coverage:
  stage: test
  script:
    - cmake -B ./build -DCMAKE_BUILD_TYPE=Debug
    - make -C ./build codeCoverage
  needs: ["build"]